* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    /* centre et supprime les marges de bases body */
    max-width: 1400px;
    font-family: "Raleway";
    padding-right: 30px;
    padding-left: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 67px;
    margin-bottom: 60px;
}

#logo img {
    height: 19px;
    width: 61px;
}

header nav {
    height: 100%;
    width: 30%;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav li {
    font-size: 16px;
    height: 100%;
    width: 100%;
}

li,
a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.nav-link {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
}

nav a:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}


/*           FIN DU HEADER           */
/*        début 1ere section         */


.main-section {
    margin-bottom: 37px;
}

.main-title {
    margin-bottom: 8px;
    font-size: 22px;
}

.paragraph16px {
    font-size: 16px;
    margin: 0;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 20px;
}

.location-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    width: 50px;
    height: 49px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.location-icon i {
    color: black;
    width: 14px;
    height: 18px;
}

#input-search {
    width: 236px;
    height: 49px;
    border: 1px solid #f2f2f2;
    font-size: 18px;
    font-weight: 700;
    color: black;
    padding-left: 17px;
}

#input-search::placeholder {
    font-size: 18px;
    font-weight: 700;
    opacity: 1;
    /* firefox */
    color: black;
}

#search-button {
    height: 49px;
    /* Bouton recherche PC */
    width: 132px;
    border: 1px #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

#phone-button {
    visibility: hidden;
}

.filters {
    display: flex;
    align-items: baseline;
    gap: 32px;
    margin-bottom: 35px;
    padding-left: 7px;
}

.filter-title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.all-btns-filter {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
}

.filter-button {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 25px;
    border: solid 2px #D9D9D9;
    background-color: white;
    font-size: 17px;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 0px;
}

.filter-button i {
    color: #0065FC;
    padding-right: 10px;
    padding-left: 20px;
    font-size: 22px;
}

.filter-button:hover {
    background-color: #DEEBFF;
}

.info {
    display: flex;
    align-items: center;
    gap: 11px;
}

.fa-solid.fa-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 10px;
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
}


/*    SECTION MARSEILLE POPULAIRE    */

.marseille-pop-container {
    display: flex;
    gap: 2.98%;
    height: 626px;
}

/*       MARSEILLE CONTAINER         */

#marseille-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 65.68%;
    height: 100%;
}

.marseille-bloc {
    display: flex;
    flex-direction: column;
    width: 90.90%;
    height: 85.94%;
    gap: 23px;
}

h2 {
    margin: 0;
    font-size: 22px;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5.57%;
    height: 79.55%;
}

.show-more {
    padding-left: 4px;
    margin-top: 17px;
}

.mars-card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #FFF;
    width: 30.75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.mars-card a {
    height: 100%;
    border-radius: 20px;
}

.mars-card:hover {
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari 3-8 */
}

.marseilleImg {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border: 5px solid #FFF;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.mars-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75px;
    padding-left: 16px;
    padding-bottom: 11px;
}

.cards-title {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.paragraph14px {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

main span {
    font-weight: 600;
    font-size: 14px;
}

.stars-container {
    display: flex;
    gap: 2px;
    height: 12px;
}

.fa-solid.fa-star {
    color: #0065FC;
    font-size: 12px;
    height: 12px;
    width: 12px;
}

.fa-solid.fa-star.lastStar {
    color: #f2f2f2;
}

/*       POPULAIRE CONTAINER         */

.populaire-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 31%
}

.populaire-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 81%;
}

.cards-pop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
}

.fa-solid.fa-chart-line {
    color: #0065FC;
    font-size: 18px;
    height: 15.75px;
}

.populaire-card {
    border-radius: 20px;
    background-color: #FFF;
    width: 81%;
    height: 144px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.populaire-card:hover {
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari 3-8 */
}

.populaire-card a {
    display: flex;
    border-radius: 20px;
    gap: 15px;
}

.populaireImg {
    width: 39.78%;
    height: 144px;
    object-fit: cover;
    border: 5px solid white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.card-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 12px;
    width: 55.45%;
    /* firefox */
}

.two-elements {
    display: flex;
    flex-direction: column;
    gap: 7px;
}


/*        ACTIVITES A MARSEILLE     */

#activities-marseille {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 19px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.activities-container {
    display: flex;
    gap: 3.22%;
    width: 100%;
    height: 445px;
}

.activities-card {
    width: 22.58%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.activities-card:hover {
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari 3-8 */
}

.activities-card img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 389px;
    width: 100%;
    object-fit: cover;
}

.activities-element-title {
    display: flex;
    align-items: center;
    height: 52px;
    padding-left: 19px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


/*           FOOTER            */


footer {
    display: flex;
    align-items: flex-end;
    background-color: #f2f2f2;
    height: 225px;
    width: 100%;
    padding-left: 70px;
}

.foot-elements {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    height: 180px;
    gap: 20px;
}

footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

/*       MEDIA QUERIES  Tablette     */

@media screen and (max-width: 992px) {
    body {
        padding-left: 56px;
        padding-right: 56px;
    }

    .main-title {
        margin-bottom: 13px;
    }

    #input-search {
        width: 253px;
    }

    .filters {
        display: flex;
        gap: 17px;
    }

    .all-btns-filter {
        display: flex;
        flex-wrap: wrap;
        gap: 22px;
    }

    .marseille-pop-container {
        flex-direction: column;
        gap: 53px;
        height: auto;
    }

    #marseille-container {
        width: 100%;
        height: 626px;
    }

    .populaire-container {
        width: 100%;
        height: 278px;
    }

    .populaire-title {
        width: 90.90%;
    }

    .cards-pop-container {
        flex-direction: row;
        gap: 2.60%;
        width: 90.9%;
    }

    .populaire-card a {
        gap: 10px;
    }

    .card-elements {
        padding-top: 12px;
    }

    #activities-marseille {
        gap: 32px;
        margin-top: 68px;
        margin-bottom: 69px;
    }

    .activities-container {
        height: 267px;
        gap: 5.69%;
    }

    .activities-card {
        width: 20.72%;
    }

    .activities-card img {
        height: 211px;
    }
}

/*       MEDIA QUERIES  mobile     */

@media screen and (max-width: 768px) {
    body {
        padding: 0;
    }

    header {
        flex-direction: column;
        align-items: center;
        height: 130px;
        margin-bottom: 31px;
    }

    #logo {
        padding-top: 21px;
    }

    header nav {
        width: 100%;
        height: 50%;
    }

    nav ul {
        gap: 0;
    }

    .nav-link {
        align-items: center;
    }

    nav a:hover {
        border-bottom: 3px solid #0065FC;
        border-top: none;
        color: #0065FC;
    }

    .main-section {
        width: 90.90%;
        margin: auto;
        margin-bottom: 37px;
    }

    .search-bar {
        margin-top: 36px;
    }

    .search-bar form {
        width: 80%;
    }

    #input-search {
        width: 100%;
    }

    #search-button {
        display: none;
    }

    #phone-button {
        visibility: visible;
        height: 49px;
        width: 49px;
        border: 1px #0065FC;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #0065FC;
    }

    #phone-button i {
        width: 17px;
        height: 17px;
        color: white;
    }

    .filters {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .all-btns-filter {
        column-gap: 14px;
        row-gap: 17px;
        width: 100%;
    }

    .filter-button {
        font-size: 11px;
        padding: 0;
        width: 47%;
    }

    .filter-button i {
        width: 50px;
        padding: 0;
    }

    .info {
        align-items: baseline;
    }

    .fa-solid.fa-info {
        font-size: 12px;
    }

    .marseille-pop-container {
        flex-direction: column-reverse;
        gap: 0;
    }

    .populaire-container {
        height: 580px;
        border-radius: 0;
    }

    .cards-pop-container {
        flex-direction: column;
        gap: 11px;
    }

    .populaire-card {
        width: 100%;
    }

    #marseille-container {
        height: auto;
        background-color: white;
        border-radius: 0;
        padding-top: 26px;
    }

    .marseille-bloc {
        height: auto;
        gap: 19px;
    }

    .cards-container {
        flex-direction: column;
        gap: 12px;
    }

    .mars-card {
        width: 100%;
    }

    .show-more {
        visibility: hidden;
    }

    #activities-marseille {
        gap: 24px;
        width: 90.9%;
        margin: auto;
        margin-bottom: 80px;
    }

    .activities-container {
        flex-direction: column;
        height: auto;
        gap: 24px;
    }

    .activities-card {
        width: 100%;
    }

    .activities-card img {
        height: 134px;
    }

    footer {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        padding-left: 30px;
        padding-top: 45px;
    }

    .foot-elements {
        width: auto;
        height: 162px;
    }
}